<h1 class="mt-3">Casas con fósforos</h1>
<h4 class="mt-3">En este ejercicio debes realizar una interpretación matemática de las relaciones algebraicas y
geométricas. <br>
Crear una función que reciba como argumento número casas y retorne el número de fósforos
requeridos para dichas casas. Puedes tomar como referencia la imagen siguiente.</h4>

<img src="https://storage.de.cloud.ovh.net/v1/AUTH_b2cffe8f45324c2bba39e8db1aedb58f/cloudconvert-files/de8d20f6-5a82-4097-a65d-1850f5a96d8d/casitasfos.png?temp_url_sig=501cd62c74ef8cab26869b43a5d9aefc3cfc57b0&temp_url_expires=1602527216&inline" alt="">

<form action="/casasFosforos" method="post">
  <div class="form-group">
    <label for="casas">Ingrese el numero de casas</label>
    <input type="text" name="casas" id="casas" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>
</form>