<h1 class="mt-3">¿Qué función retorna el número mayor?</h1>
<h4 class="mt-3">Crea una función que reciba como argumentos dos funciones, f y g, las cuáles no tienen
parámetros. Tu función debe llamarlas y retornar un string que indique cuál de las dos
funciones retorna el mayor número. <br>
● Si f retorna el número mayor, retornar el string f. <br>
● Si g retorna el número mayor, retornar el string g. <br>
● Si ambas funciones retornar el mismo número, retornar el string ninguna.
</h4>

<form action="/funcionRetornaMayor" method="post">
  <div class="form-group">
      <br>
    <label for="numero">Funcion f() = 30</label> <br>
    <label for="numero">Funcion g() = 25</label>
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>
</form>