<h1 class="mt-3">Seleccione el ejercicio que quiera ver</h1>

<form action="/divisionNumeros" method="get">
  <button type="submit" class="btn btn-success">Division de Numeros</button>
</form>
<br>
<form action="/sumaNumeros" method="get">
  <button type="submit" class="btn btn-success">Suma de numeros desde un numero singular</button>
</form>
<br>
<form action="/funcionRetornaMayor" method="get">
  <button type="submit" class="btn btn-success">¿Qué función retorna el número mayor?</button>
</form>
<br>
<form action="/conversionBase2" method="get">
  <button type="submit" class="btn btn-success">Conversión de Number a Base-2</button>
</form>
<br>
<form action="/menorMayor" method="get">
  <button type="submit" class="btn btn-success">Encontrar el menor y el mayor número</button>
</form>
<br>
<form action="/escondeMultitud" method="get">
  <button type="submit" class="btn btn-success">¿Qué se esconde entre la multitud?</button>
</form>
<br>
<form action="/casasFosforos" method="get">
  <button type="submit" class="btn btn-success">Casas con fósforos</button>
</form>