<h1 class="mt-3">Tabla de retorno del préstamo</h1>

{{#if cuotas}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Periodo</th>
      <th scope="col">capital</th>
      <th scope="col">interes</th>
      <th scope="col">SaldoFinal</th>
    </tr>
  </thead>
  <tbody>
    {{#each cuotas}}
    <tr>
      <th scope="row">{{Periodo}}</th>
      <th scope="row">{{capital}}</th>
      <th scope="row">{{interes}}</th>
       <th scope="row">{{SaldoFinal}}</th>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}