<h1 class="mt-3">Suma de numeros desde un numero singular</h1>
<h4 class="mt-3">Crea una función que tome como argumento un número. Suma todos los números desde 1 hasta el valor que se pase como argumento. Por ejemplo, si el argumento es 4 entonces la función retorna 10 dado que 1 + 2 + 3 + 4 = 10.</h4>

<form action="/sumaNumeros" method="post">
  <div class="form-group">
    <label for="numero">Ingrese el numero</label>
    <input type="text" name="numero" id="numero" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>
</form>