<h1 class="mt-3">Resultado - Conversion a Base 2</h1>

{{#if binario}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{binario}}</th>
    </tr>
  </tbody>
</table>
{{/if}}