<h1 class="mt-3">Resultado - Menor y Mayor</h1>

{{#if nuevoArray}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">El Menor</th>
      <th scope="col">El Mayor</th>
    </tr>
  </thead>
  <tbody>
    {{#each nuevoArray}}
    <tr>
      <th scope="row">{{menor}}</th>
      <th scope="row">{{mayor}}</th>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}