<h1 class="mt-3">Resultado - Suma de Numeros</h1>

{{#if numeroResultado}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{numeroResultado}}</th>
    </tr>
  </tbody>
</table>
{{/if}}